[Unit]
Description=Refresh Pacman mirrorlist with speculum.
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/speculum -f /etc/speculum.conf
